
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}

<div class="collection_text">Create Account</div>
<div class="layout_padding collection_section">
    <div class="container">
        <div class="collection_section_2">
            <div class="row">
                <div class="login_box" style="margin-left: 350px">
                    <form>
                        <input class="center-block" type="email" id="email" name="email" placeholder="Enter Email" style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="password" id="passReg" name="passReg" placeholder="Password" style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="password" id="passReg" name="passRegDup" placeholder="Repeat your password" style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="text" id="accountName" name="accountName" placeholder="Enter Account Name" style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="text" id="Address" name="Address" placeholder="Enter Your Address" style="width: 500px; height: 50px;"><br>
                        <input class="center-block" type="number" id="phoneNumber" name="phoneNumber" placeholder="Enter Your Phone Number" style="width: 500px; height: 50px;"><br>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>
                        <label for="birthday">Birthday:</label>
                        <input type="date" id="birthday" name="birthday"><br><br>
                        <input type="checkbox" id="agreeTerm" name="agreeTerm" value="acceptTerm">  <label for="agreeTerm"> I agree all statements in <a href="https://support.google.com/chrome/?p=incognito"> Terms of service</a></label><br><br>
                        <button class="subscribr_bt" style="width: 100%;">Sign Up</button><br>
                        <p> Have already an account? <a href="../Login"> Login here</a></p><br><br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>