
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}


<!-- detail shopping cart -->
<div class="layout_cartDetail layout_padding collection_section">
    <div class="container">
        <div class="cart_detail">
            <div class="cartInner">
                <p class="cart_title">Đơn hàng của tôi <span style="font-size: 12px;"></span></p>
                <ul style="padding-top: 20px;">
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">

                            </a>
                            <div class="cart_productsDetails">
                                <div class="cart_productsPrices">
                                    <P href="#">Mã đơn hàng </P>
                                    <p></p>
                                    <p> <a href="#">DH001</a></p>
                                    <p> <a href="#">DH002</a> </p>
                                    <p> <a href="#">DH003</a></p>
                                    <p> <a href="#">DH004</a></p>
                                    <p> <a href="#">DH005</a></p>
                                    <p> <a href="#">DH006</a></p>
                                    <p> <a href="#">DH007</a></p>
                                    <p> <a href="#">DH008</a></p>
                                    <p> <a href="#">DH009</a></p>
                                    <p> <a href="#">DH0010</a></p>
                                    <p> <a href="#">DH0011</a></p>
                                    <p> <a href="#">DH0012</a></p>
                                    <p> <a href="#">DH0013</a></p>
                                    <p> <a href="#">DH0014</a></p>
                                    <p> <a href="#">DH0015</a></p>
                                    <p> <a href="#">DH0016</a></p>
                                    <p> <a href="#">DH0017</a></p>
                                    <p> <a href="#">DH0018</a></p>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        <P href="#"> Ngày mua </P>
                                        <p> 28/03/2021</p>
                                        <p> 28/03/2021</p>
                                        <p> 29/03/2021</p>
                                        <p> 30/03/2021</p>
                                        <p> 31/03/2021</p>
                                        <p> 01/04/2021  </p>
                                        <p> 02/04/2021  </p>
                                        <p> 03/04/2021  </p>
                                        <p> 04/04/2021  </p>
                                        <p> 05/04/2021  </p>
                                        <p> 05/04/2021  </p>
                                        <p> 06/04/2021  </p>
                                        <p> 07/04/2021  </p>
                                        <p> 08/04/2021  </p>
                                        <p> 09/04/2021  </p>
                                        <p> 10/04/2021  </p>
                                        <p> 10/04/2021  </p>
                                        <p> 10/04/2021  </p>


                                    </div>
                                    <div class="cart_productsPrices">


                                        <p>Sản phẩm  </p>
                                        <p> Làm đĩ và Code dạo kí sự  </p>
                                        <p> Chiếc là cuối cùng và Nhà Giả Kim và Bố Già </p>
                                        <p> Chí phèo và Tắt đèn và Hai đứa trẻ và Hai số phận </p>
                                        <p> Tự học 2000 TỪ VỰNG TIẾNG ANH </p>
                                        <p> Hoàng tử bé và Cuốn theo chiều gió </p>
                                        <p> Tập thơ Thúy Kiều và Chiếc lược ngà </p>
                                        <p> Cà phê cùng Tony và Tôi tự học </p>
                                        <p> Ba người thầy vĩ đại và Những tấm lòng cao cả</p>
                                        <p> Suối nguồn và Những người khốn khổ và </p>
                                        <p> Giết con chim nhại và Mật Mã Da Vanci</p>
                                        <p> Không gia đình và Đại gia Gatby</p>
                                        <p> Thế giới phẳng và Mật mã tài năng </p>
                                        <p> Hành trình về phương đông và Tuần làm việc 4 giờ</p>
                                        <p> Đắc Nhân Tâm và Think and Grow Rich</p>
                                        <p> Tuổi trẻ đáng giá bao nhiu và Cha giàu cha nghèo</p>
                                        <p> Nhà lãnh đạo không doanh chức và Bài học kỳ diệu</p>
                                        <p> Những cuộc phiêu lưu của Tom Sawyer </p>
                                        <p> Người giàu có nhất thành Babylon và Dám nghĩ lớn</p>
                                   
                                    </div>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">

                                        <p>Giá tiền</p>

                                        <p> 99.000đ</p>
                                        <p> 159.000đ</p>
                                        <p> 179.000đ</p>
                                        <p> 89.000đ</p>
                                        <p> 62.000đ</p>
                                        <p> 129.000đ</p>
                                        <p> 189.000đ</p>
                                        <p> 209.000đ</p>
                                        <p> 110.000đ</p>
                                        <p> 145.000đ</p>
                                        <p> 229.000đ</p>
                                        <p> 142.000đ</p>
                                        <p> 195.000đ</p>
                                        <p> 175.000đ</p>
                                        <p> 215.000đ</p>
                                        <p> 185.000đ</p>
                                        <p> 80.000đ</p>
                                        <p> 139.000đ</p>

                                    </div>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">

                                        <p>Tình trạng sản phẩm</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã hủy</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đang giao hàng</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<!-- contact section end -->

