
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}


<!-- detail shopping cart -->
<div class="layout_cartDetail layout_padding collection_section">
    <div class="container">
        <div class="cart_detail">
            <div class="cartInner">
                <p class="cart_title">Đơn hàng của tôi <span style="font-size: 12px;"></span></p>
                <ul style="padding-top: 20px;">
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">

                            </a>
                            <div class="cart_productsDetails">
                                <div class="cart_productsPrices">
                                    <P href="#">Mã đơn hàng </P>
                                    <p></p>
                                    <p> <a href="#">DH001</a></p>
                                    <p> <a href="#">DH002</a> </p>
                                    <p> <a href="#">DH003</a></p>
                                    <p> <a href="#">DH004</a></p>
                                    <p> <a href="#">DH005</a></p>
                                    <p> <a href="#">DH006</a></p>
                                    <p> <a href="#">DH007</a></p>
                                    <p> <a href="#">DH008</a></p>
                                    <p> <a href="#">DH009</a></p>
                                    <p> <a href="#">DH0010</a></p>
                                    <p> <a href="#">DH0011</a></p>
                                    <p> <a href="#">DH0012</a></p>
                                    <p> <a href="#">DH0013</a></p>
                                    <p> <a href="#">DH0014</a></p>
                                    <p> <a href="#">DH0015</a></p>
                                    <p> <a href="#">DH0016</a></p>
                                    <p> <a href="#">DH0017</a></p>
                                    <p> <a href="#">DH0018</a></p>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        <P href="#"> Ngày mua </P>
                                        <p> 28/03/2021</p>
                                        <p> 28/03/2021</p>
                                        <p> 29/03/2021</p>
                                        <p> 30/03/2021</p>
                                        <p> 31/03/2021</p>
                                        <p> 01/04/2021  </p>
                                        <p> 02/04/2021  </p>
                                        <p> 03/04/2021  </p>
                                        <p> 04/04/2021  </p>
                                        <p> 05/04/2021  </p>
                                        <p> 05/04/2021  </p>
                                        <p> 06/04/2021  </p>
                                        <p> 07/04/2021  </p>
                                        <p> 08/04/2021  </p>
                                        <p> 09/04/2021  </p>
                                        <p> 10/04/2021  </p>
                                        <p> 10/04/2021  </p>
                                        <p> 10/04/2021  </p>


                                    </div>
                                    <div class="cart_productsPrices">


                                        <p>Sản phẩm  </p>
                                        <p> Làm đĩ và Code dạo kí sự  </p>
                                        <p> Chiếc là cuối cùng và Nhà Giả Kim và Bố Già </p>
                                        <p> Chí phèo và Tắt đèn và Hai đứa trẻ và Hai số phận </p>
                                        <p> Tự học 2000 TỪ VỰNG TIẾNG ANH </p>
                                        <p> Hoàng tử bé và Cuốn theo chiều gió </p>
                                        <p> Tập thơ Thúy Kiều và Chiếc lược ngà </p>
                                        <p> Cà phê cùng Tony và Tôi tự học </p>
                                        <p> Ba người thầy vĩ đại và Những tấm lòng cao cả</p>
                                        <p> Suối nguồn và Những người khốn khổ và </p>
                                        <p> Giết con chim nhại và Mật Mã Da Vanci</p>
                                        <p> Không gia đình và Đại gia Gatby</p>
                                        <p> Thế giới phẳng và Mật mã tài năng </p>
                                        <p> Hành trình về phương đông và Tuần làm việc 4 giờ</p>
                                        <p> Đắc Nhân Tâm và Think and Grow Rich</p>
                                        <p> Tuổi trẻ đáng giá bao nhiu và Cha giàu cha nghèo</p>
                                        <p> Nhà lãnh đạo không doanh chức và Bài học kỳ diệu</p>
                                        <p> Những cuộc phiêu lưu của Tom Sawyer </p>
                                        <p> Người giàu có nhất thành Babylon và Dám nghĩ lớn</p>
                                   
                                    </div>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">

                                        <p>Giá tiền</p>

                                        <p> 99.000đ</p>
                                        <p> 159.000đ</p>
                                        <p> 179.000đ</p>
                                        <p> 89.000đ</p>
                                        <p> 62.000đ</p>
                                        <p> 129.000đ</p>
                                        <p> 189.000đ</p>
                                        <p> 209.000đ</p>
                                        <p> 110.000đ</p>
                                        <p> 145.000đ</p>
                                        <p> 229.000đ</p>
                                        <p> 142.000đ</p>
                                        <p> 195.000đ</p>
                                        <p> 175.000đ</p>
                                        <p> 215.000đ</p>
                                        <p> 185.000đ</p>
                                        <p> 80.000đ</p>
                                        <p> 139.000đ</p>

                                    </div>

                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">

                                        <p>Tình trạng sản phẩm</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã hủy</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đã hủy</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đã giao hàng thành công</p>
                                        <p> Đang giao hàng</p>
                                        <p> Đang giao hàng</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
<!-- contact section end -->
<!-- section footer start -->
<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-2">

                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-logo"><img src="images/phone-icon.png"><span class="map_text">(71) 1234567890</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/in-icon.png"></a></li>
                            <li><a href="#"><img src="images/google-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <h2 class="shop_text">Address </h2>
                    <div class="image-icon"><img src="images/map-icon.png"><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                    <h2 class="shop_text">Our Company </h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Delivery</li>
                            <li>Legal Notice</li>
                            <li>About us</li>
                            <li>Secure payment</li>
                            <li>Contact us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h2 class="adderess_text">Products</h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Prices drop</li>
                            <li>New products</li>
                            <li>Best sales</li>
                            <li>Contact us</li>
                            <li>Sitemap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <h2 class="adderess_text">Newsletter</h2>
                    <div class="form-group">
                        <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                    </div>
                    <button class="subscribr_bt">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- section footer end -->
<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>


<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });


        $('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function (event) {

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function (event) {

                var yMove = event.originalEvent.touches[0].pageY;
                if (Math.floor(yClick - yMove) > 1) {
                    $(".carousel").carousel('next');
                }
                else if (Math.floor(yClick - yMove) < -1) {
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function () {
                $(this).off("touchmove");
            });
        });
    });
</script>

