
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}

<div class="page-admin">
    <div class="sidebar-admin">
        <ul style="padding: 16px 16px 0;">
            <li>
                <div class="sidebar-list">
                    <img src="https://cf.shopee.vn/file/f82f8ccb649afcdf4f07f1dd9c41bcb0" style="padding-bottom: 5px;" alt="quanlidonhang" width="17px" height="17px">
                    <span class="sidebar-title-item">Quản Lý Đơn Hàng</span>
                    <ul style="padding-top: 10px;">
                        <li class="sidebar-item"><a href="#" style="color: #000;">Tất cả</a></li>
                        <li class="sidebar-item"><a href="#" style="color: #000;">Đơn hủy</a></li>
                        <li class="sidebar-item"><a href="#" style="color: #000;">Tất cả</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="sidebar-list">
                    <img src="https://cf.shopee.vn/file/3fa3bdb20eb201ae3f157ee8d11a39d5" style="padding-bottom: 5px;" alt="quanlidonhang" width="17px" height="17px">
                    <span class="sidebar-title-item">Quản Lý Sản Phẩm</span>
                    <ul style="padding-top: 10px;">
                        <li class="sidebar-item"><a href="#" style="color: #000;">Tất Cả Sản Phẩm</a></li>
                        <li class="sidebar-item"><a href="#" style="color: #000;">Thêm Sản Phẩm</a></li>
                        <li class="sidebar-item"><a href="#" style="color: #000;">Sản Phẩm Vi Phạm</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-admin">
        <div class="card-todolist">
            <p class="card-title">Danh sách cần làm</p>
            <p class="card-subTitle">Những việc bạn sẽ phải làm</p>
            <div>
                <ul class="card-item">
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Chờ xác nhận</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Chờ lấy hàng</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Đã xử lý</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Đơn hủy</p>
                        </a>
                    </li>
                </ul>
                <ul class="card-item">
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Trả Hàng / Hoàn Tiền Chờ Xử Lý</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Sản Phẩm Bị Tạm Khóa</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Sản Phẩm Hết Hàng</p>
                        </a>
                    </li>
                    <li class="todo-item">
                        <a href="#">
                            <p class="quantity-todo-item">0</p>
                            <p class="name-todo-item">Chương Trình Khuyến Mãi Chờ Xử Lý</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>