
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Header.cshtml";
}

<div class="collection_text">Login</div>
<div class="layout_padding collection_section">
    <div class="container">
        <div class="collection_section_2">
            <div class="row">
                <div class="login_box" style="margin-left: 350px">
                    <form>
                        <input class="center-block" type="email" id="email" name="email" placeholder="Enter Email" style="width: 500px ; height: 50px;"><br><br>
                        <input class="center-block" type="password" id="pass" name="pass" placeholder="Enter Password" style="width: 500px; height: 50px;"><br>
                        <p> Don't have an account?<a href="../Register"> Click here</a></p><br>
                        <button class="subscribr_bt" style="width: 100%;">Sign In</button><br><br><br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


