
@{
    ViewBag.Title = "Trang chủ | JustBook";
    Layout = "~/Views/Header.cshtml";
}

<div class="header_section">
    <div class="banner_section">
        <div class="container-fluid">
            <section class="slide-wrapper">
                <div class="container-fluid">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-sm-2 padding_0">
                                        <p class="mens_taital">JustBook</p>
                                        <div class="page_no">1/2</div>
                                        <p class="mens_taital_2">JustBook</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="banner_taital">
                                            <h1 class="banner_text">New Books</h1>
                                            <h1 class="mens_text"><strong>Welcome to JustBook</strong></h1>
                                            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <button class="buy_bt">Buy Now</button>
                                            <button class="more_bt">See More</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="shoes_img"><img src="~/images/book.png" width="85%" height="85%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm-2 padding_0">
                                        <p class="mens_taital">JustBook</p>
                                        <div class="page_no">2/2</div>
                                        <p class="mens_taital_2">JustBook</p>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="banner_taital">
                                            <h1 class="banner_text">For Frontend Developer</h1>
                                            <h1 class="mens_text"><strong>Introduction to Programing</strong></h1>
                                            <h1 class="mens_text"><strong>With Javascript</strong></h1>
                                            <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            <button class="buy_bt">Buy Now</button>
                                            <button class="more_bt">See More</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="shoes_img"><img src="~/images/book_js.png"></div>
                                    </div>
                                </div>
                            </div>
                            <a style="" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- header section end -->
<!-- new collection section start -->
<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>New Books</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="collection_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <button class="new_bt">New</button>
                        <div class="book-img"><img src="~/images/book_interview.jpg"></div>
                        <p class="book_text">CRACKING THE CODING INTERVIEW</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">71</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-img2">
                        <div class="book-img2"><img src="~/images/book_codedao.jpg" width="100%"></div>
                        <p class="book_text">CODE DẠO KÝ SỰ</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">59</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="seemore_bt">See More</button>
            </div>
        </div>
    </div>
</div>
<div class="collection_section">
    <div class="container">
        <h1 class="new_text"><strong>Book Sales at the weekend</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
</div>
<div class="collectipn_section_3 layuot_padding">
    <div class="container">
        <div class="racing_shoes">
            <div class="row">
                <div class="col-md-8">
                    <div class="shoes-img3"><img src="~/images/book_reactjs.jpg" width="75%"></div>
                </div>
                <div class="col-md-4" style="padding-left: 50px; padding-top: 20px;">
                    <div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">REACT JS</span> <br>Book</strong></div>
                    <div class="number_text"><strong>$ <span style="color: #0a0506">75</span></strong></div>
                    <div class="number_text" style="text-decoration: line-through;">$ <span style="color: #0a0506">101</span></div>
                    <button class="seemore">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collection_section layout_padding">
    <div class="container">
        <h1 class="new_text"><strong>New Arrivals Books</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
</div>
<!-- new collection section end -->
<!-- New Arrivals section start -->
<div class="layout_padding gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text">Best Selling </p>
                    <div class="book_icon"><img src="~/images/book_nguyenhatanh.jpg" width="93%"></div>
                    <p class="book_name" style="font-size: 19px;">Tôi thấy hoa vàng trên cỏ xanh</p>
                    <p class="book_author">Nguyễn Nhật Ánh</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">62</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text">Best Selling </p>
                    <div class="book_icon"><img src="~/images/book_lam-di.jpg"></div>
                    <p class="book_name">Làm Đĩ</p>
                    <p class="book_author">Vũ Trọng Phụng</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">60</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text">Best Selling </p>
                    <div class="book_icon"><img src="~/images/book_hoang-tu-be.jpg"></div>
                    <p class="book_name">HOÀNG TỬ BÉ</p>
                    <p class="book_author">Antoine de Saint-Exupéry</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">59</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text"></p>
                    <div class="book_icon"><img src="~/images/book_hacknao1500tuvung.jpg"></div>
                    <p class="book_name">"HACK" NÃO 1500</p>
                    <p class="book_author">STEP UP</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">51</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text"></p>
                    <div class="book_icon"><img src="~/images/book_2000-tu-vung-tieng-anh.jpg" width="92%"></div>
                    <p class="book_name" style="font-size: 17px;">Tự học 2000 TỪ VỰNG TIẾNG ANH</p>
                    <p class="book_author">Đỗ Nhung</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">37</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_book">
                    <p class="best_text"></p>
                    <div class="book_icon"><img src="~/images/book_hacknao-ielts.jpg"></div>
                    <p class="book_name">"HACK" NÃO IELTS</p>
                    <p class="book_author">STEP UP</p>
                    <div class="star_text">
                        <div class="left_part">
                            <ul>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="~/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">54</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy_now_bt">
            <button class="buy_text">See More</button>
        </div>
    </div>
</div>
<!-- contact section end -->
