
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}

<!-- detail shopping cart -->
<div class="layout_cartDetail layout_padding collection_section">
    <div class="container">
        <div class="cart_detail">
            <div class="cartInner">
                <p class="cart_title">GIỎ HÀNG <span style="font-size: 12px;">(2 sản phẩm)</span></p>
                <ul style="padding-top: 20px;">
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">
                                <img src="~/images/cart_dungluachonannhan.jpg" alt="">
                            </a>
                            <div class="cart_content">
                                <div>
                                    <a href="#" style="padding-bottom: 20px;">Đừng Lựa Chọn An Nhàn Khi Còn Trẻ</a>
                                    <p></p>
                                    <p>Tác giả: <a href="#">Cánh Thiên</a></p>
                                    <p>Sách có thể bọc bằng <a href="#">BookCare</a></p>
                                    <a href="#" style="padding-right: 15px;">Xóa</a>
                                    <a href="#">Để dành mua sau</a>
                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        57.200đ
                                    </div>
                                    <div>
                                        <span class="btn_quantity">+</span>
                                        <span class="btn_quantity">1</span>
                                        <span class="btn_quantity">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">
                                <img src="~/images/cart_tuoitredanggia.jpg" alt="">
                            </a>
                            <div class="cart_content">
                                <div>
                                    <a href="#">Tuổi Trẻ Đáng Giá Bao Nhiêu (Tái Bản)</a>
                                    <p></p>
                                    <p>Tác giả: <a href="#">Rosie Nguyễn</a></p>
                                    <p>Sách có thể bọc bằng <a href="#">BookCare</a></p>
                                    <a href="#" style="padding-right: 15px;">Xóa</a>
                                    <a href="#">Để dành mua sau</a>
                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        52.000đ
                                    </div>
                                    <div>
                                        <span class="btn_quantity">+</span>
                                        <span class="btn_quantity">1</span>
                                        <span class="btn_quantity">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart_TotalPrices">
                <div class="shipping_address">
                    <p class="heading_shippingAddress">
                        <span>Địa chỉ nhận hàng</span>
                        <a href="#">Thay đổi</a>
                    </p>
                    <p class="title_shippingAddress">
                        <span class="name_shippingAddress">Nguyễn Chí Thành</span>
                        <span>0522905064</span>
                    </p>
                    <p class="address_shippingAddress">
                        <span>69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</span>
                    </p>
                </div>
                <div class="cart_prices">
                    <div>
                        <ul class="prices_items">
                            <li class="prices_item">
                                <span class="prices_text">Tạm tính</span>
                                <span class="prices_temporary">109.200đ</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="prices_total">
                            <span class="prices_text">Thành tiền</span>
                            <span class="prices_value">
                                109.200đ
                                <i style="display: block; font-size: 12px; color: rgb(51, 51, 51);">(Đã bao gồm VAT nếu có)</i>
                            </span>
                        </p>
                    </div>
                </div>
                <a style="color: #FFF;" href="@Url.Action("Index", "Payment")">
						<button type="button" class="cart__submit btn btn-danger">Tiến hành đặt hàng</button>
				</a>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->