
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- detail shopping cart -->
<div class="layout_cartDetail layout_padding collection_section">
    <div class="container">
        <div class="cart_detail">
            <div class="cartInner">
                <p class="cart_title">GIỎ HÀNG <span style="font-size: 12px;">(2 sản phẩm)</span></p>
                <ul style="padding-top: 20px;">
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">
                                <img src="~/images/cart_dungluachonannhan.jpg" alt="">
                            </a>
                            <div class="cart_content">
                                <div>
                                    <a href="#" style="padding-bottom: 20px;">Đừng Lựa Chọn An Nhàn Khi Còn Trẻ</a>
                                    <p></p>
                                    <p>Tác giả: <a href="#">Cánh Thiên</a></p>
                                    <p>Sách có thể bọc bằng <a href="#">BookCare</a></p>
                                    <a href="#" style="padding-right: 15px;">Xóa</a>
                                    <a href="#">Để dành mua sau</a>
                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        57.200đ
                                    </div>
                                    <div>
                                        <span class="btn_quantity">+</span>
                                        <span class="btn_quantity">1</span>
                                        <span class="btn_quantity">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="padding: 15px;">
                        <div class="item_cart">
                            <a href="#">
                                <img src="~/images/cart_tuoitredanggia.jpg" alt="">
                            </a>
                            <div class="cart_content">
                                <div>
                                    <a href="#">Tuổi Trẻ Đáng Giá Bao Nhiêu (Tái Bản)</a>
                                    <p></p>
                                    <p>Tác giả: <a href="#">Rosie Nguyễn</a></p>
                                    <p>Sách có thể bọc bằng <a href="#">BookCare</a></p>
                                    <a href="#" style="padding-right: 15px;">Xóa</a>
                                    <a href="#">Để dành mua sau</a>
                                </div>
                                <div class="cart_productsDetails">
                                    <div class="cart_productsPrices">
                                        52.000đ
                                    </div>
                                    <div>
                                        <span class="btn_quantity">+</span>
                                        <span class="btn_quantity">1</span>
                                        <span class="btn_quantity">-</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart_TotalPrices">
                <div class="shipping_address">
                    <p class="heading_shippingAddress">
                        <span>Địa chỉ nhận hàng</span>
                        <a href="#">Thay đổi</a>
                    </p>
                    <p class="title_shippingAddress">
                        <span class="name_shippingAddress">Nguyễn Chí Thành</span>
                        <span>0522905064</span>
                    </p>
                    <p class="address_shippingAddress">
                        <span>69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</span>
                    </p>
                </div>
                <div class="cart_prices">
                    <div>
                        <ul class="prices_items">
                            <li class="prices_item">
                                <span class="prices_text">Tạm tính</span>
                                <span class="prices_temporary">109.200đ</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="prices_total">
                            <span class="prices_text">Thành tiền</span>
                            <span class="prices_value">
                                109.200đ
                                <i style="display: block; font-size: 12px; color: rgb(51, 51, 51);">(Đã bao gồm VAT nếu có)</i>
                            </span>
                        </p>
                    </div>
                </div>
                <button type="button" class="cart__submit btn btn-danger">Tiến hành đặt hàng</button>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- section footer start -->
<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <div><a href="#"><img src="~/images/footer-logo.png"></a></div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-logo"><img src="~/images/phone-icon.png"><span class="map_text">(71) 1234567890</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="~/images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="~/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/in-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/google-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <h2 class="shop_text">Address </h2>
                    <div class="~/image-icon"><img src="~/images/map-icon.png"><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                    <h2 class="shop_text">Our Company </h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Delivery</li>
                            <li>Legal Notice</li>
                            <li>About us</li>
                            <li>Secure payment</li>
                            <li>Contact us</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h2 class="adderess_text">Products</h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Prices drop</li>
                            <li>New products</li>
                            <li>Best sales</li>
                            <li>Contact us</li>
                            <li>Sitemap</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <h2 class="adderess_text">Newsletter</h2>
                    <div class="form-group">
                        <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                    </div>
                    <button class="subscribr_bt">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- section footer end -->
<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>


<!-- Javascript files-->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery-3.0.0.min.js"></script>
<script src="~/js/plugin.js"></script>
<!-- sidebar -->
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/custom.js"></script>
<!-- javascript -->
<script src="~/js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });


$('#myCarousel').carousel({
            interval: false
        });

        //scroll slides on swipe for touch enabled devices

        $("#myCarousel").on("touchstart", function(event){

            var yClick = event.originalEvent.touches[0].pageY;
            $(this).one("touchmove", function(event){

                var yMove = event.originalEvent.touches[0].pageY;
                if( Math.floor(yClick - yMove) > 1 ){
                    $(".carousel").carousel('next');
                }
                else if( Math.floor(yClick - yMove) < -1 ){
                    $(".carousel").carousel('prev');
                }
            });
            $(".carousel").on("touchend", function(){
                $(this).off("touchmove");
            });
        	});
		});
</script>