
@{
    ViewBag.Title = "Đơn hàng của tôi | JustBook";
    Layout = "~/Views/Header.cshtml";
}

<style>
    table, td, th {
        border-bottom: 1px solid rgb(244, 244, 244);
        padding: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    .title-page {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .order-date {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
    }

    .order-content {
        width: 300px;
        background-color: #FFF;
        padding: 20px;
        height: 100%;
    }

    .order-prices {
        display: flex;
        padding: 10px 20px;
    }

    .list-prices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px 0;
    }

    .order-title {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0;
    }
</style>

<div class="page-admin">
    <div class="sidebar-admin">
        <div class="sidebar-title">DANH SÁCH CHỨC NĂNG</div>
        <a class="sidebar-item" href="@Url.Action("Index", "UserHome")">
            <span class="fa fa-user-alt"></span>
            <span class="sidebar-item-title">Thông tin tài khoản</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("Notification", "UserHome")">
            <span class="fas fa-bell"></span>
            <span class="sidebar-item-title">Thông báo của tôi</span>
            <span class="badge" style="background-color: red;">11</span>
        </a>
        <a class="sidebar-item" href="@Url.Action("OrderHistory", "UserHome")">
            <span class="fa fa-address-card"></span>
            <span class="sidebar-item-title">Quản lý đơn hàng</span>
        </a>
    </div>
    <div class="content-admin-order">
        <div class="title-page">
            <div style="padding-right: 20px;">
                Chi tiết đơn hàng #748515299
            </div>
            <select style="width: 250px;">
                <option value="Chờ xác nhận" selected>Chờ xác nhận</option>
                <option value="Đang giao hàng">Đang giao hàng</option>
                <option value="Giao hàng thành công">Giao hàng thành công</option>
            </select>
        </div>
        <div class="order-date">Ngày đặt hàng: 09:27 15/11/2019</div>
        <div style="display: flex;">
            <div>
                <div class="order-title">ĐỊA CHỈ NGƯỜI NHẬN</div>
                <div class="order-content" style="margin-right: 20px;">
                    <p style="font-weight: bold;">NGUYỄN CHÍ THÀNH</p>
                    <p>Địa chỉ: 9B/1A, KP Đồng An 2, P.Bình Hoà, TX.Thuận An</p>
                    <p>Điện thoại: 0522905064</p>
                </div>
            </div>
            <div>
                <div class="order-title">HÌNH THỨC GIAO HÀNG</div>
                <div class="order-content" style="margin-right: 20px;">
                    <p>Giao vào Thứ ba, 19/11</p>
                    <p>Phí vận chuyển: 18.000đ</p>
                </div>
            </div>
            <div>
                <div class="order-title">HÌNH THỨC THANH TOÁN</div>
                <div class="order-content">Thanh toán tiền mặt khi nhận hàng</div>
            </div>
        </div>
        <div style="background-color: #FFF; margin-top: 60px;">
            <table>
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Chiết khấu</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="order-rows">
                        <td>
                            <div style="display: flex;">
                                <img width="50px;" src="https://salt.tikicdn.com/cache/200x200/media/catalog/product/i/m/img028.u335.d20160604.t134059.jpg" />
                                <div style="padding-left: 10px;">
                                    <a href="#">60 Bài Luận Tiếng Anh Thông Dụng</a>
                                    <div>Danh mục: Sách IT</div>
                                    <div>Mã: <a href="#">IT-01</a></div>
                                </div>
                            </div>
                        </td>
                        <td>25.500 ₫</td>
                        <td>2</td>
                        <td>15%</td>
                        <td>25.500 ₫</td>
                    </tr>
                </tbody>
            </table>
            <div class="list-prices">
                <div class="order-prices">
                    <div style="padding-right: 50px;">Tạm tính</div>
                    <div>115.800 ₫</div>
                </div>
                <div class="order-prices">
                    <div style="padding-right: 50px;">Phí vận chuyển</div>
                    <div>18.000 ₫</div>
                </div>
                <div class="order-prices">
                    <div style="padding-right: 50px;">Tổng cộng</div>
                    <div style="font-size: 18px; color: red;">133.800 ₫</div>
                </div>
            </div>
        </div>
        <div style="padding: 20px 0;">
            <a href="@Url.Action("TrackingState", "UserHome")">
                <input class="btn btn-warning" style="font-weight: bold; color: #000;" type="button" value="Theo dõi chi tiết" />
            </a>
        </div>
    </div>
</div>

