
@{
    ViewBag.Title = "Trạng thái đơn hàng | JustBook";
    Layout = "~/Views/Header.cshtml";
}

<div class="user-state-order">
    <div class="top-state">
        <span class="column-state">
            <div class="title-column-state">Mã đơn hàng</div>
            <div><a href="@Url.Action("TrackingState", "UserHome")">DH001</a></div>
        </span>
        <span class="column-state" style="padding-left: 10px;">
            <div class="title-column-state">Ngày mua</div>
            <div>@DateTime.Now.ToString("d")</div>
        </span>
        <span class="column-state" style="padding-left: 10px; border: none;">
            <div class="title-column-state">Tổng tiền</div>
            <div>79.000đ</div>
        </span>
    </div>
    <div>
        <div style="font-size: 23px; color: rgb(102, 102, 102); padding-bottom: 10px;">Dự kiến giao vào Thứ Ba, @DateTime.Now.ToString("d")</div>
        <div class="progress-state">
            <div class="progress" style="width: 650px; height: 10px; margin-bottom: 5px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <a href="@Url.Action("TrackingState", "UserHome")">
                <button class="btn btn-warning" style="font-weight: bold; color: #000; margin-left: 50px">Theo dõi chi tiết</button>
            </a>
        </div>
        <div style="color: #28a745; padding-bottom: 20px;">Đặt hàng thành công</div>
    </div>
    <div style="display: flex; width: 400px; padding-bottom: 10px;">
        <img src="~/images/cart_dungluachonannhan.jpg" alt="dungluachonannhan" width="100" height="100">
        <div>
            <p style="font-size: 16px; color: rgb(102, 102, 102);">Đừng Lựa Chọn An Nhàn Khi Còn Trẻ và 2 sản phẩm khác</p>
            <div>57.200đ</div>
            <div>Số lượng: 1</div>
        </div>
    </div>
</div>

