
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}

<body>

    <div class="display">
        <div class="display_left">
            <h3 class="title_column">Danh sách chức năng</h3>
            <div class="column">
                <div class="column_left fa fa-user-alt"></div>
                <div class="column_right"><a href=""></a>Thông tin tài khoản</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-address-card"></div>
                <div class="column_right"><a href=""></a>Thông báo của tôi</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-pen-square"></div>
                <div class="column_right"><a href=""></a>Cập nhật sản phẩm</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-address-card"></div>
                <div class="column_right"><a href=""></a>Quản lý đơn hàng</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-address-book"></div>
                <div class="column_right"><a href=""></a>Quản lý khuyến mãi</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-dollar-sign"></div>
                <div class="column_right"><a href=""></a>Sản phẩm bán chạy</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-crown"></div>
                <div class="column_right"><a href=""></a>Nhận xét của khách hàng</div>
            </div>
            <div class="column">
                <div class="column_left fa fa-chalkboard-teacher"></div>
                <div class="column_right"><a href=""></a>Hỏi đáp</div>
            </div>
        </div>
        <div class="display_right">
            <div class="heding">
                <h2>Cập nhập sản phẩm</h2>
            </div>
            <div class="main">
                <form action="" class="fromadd">
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label ">Mã sản phẩm</label>
                            <input type="text" placeholder="Nhập mã sản phẩm" class="text_input "><span>(*)</span>
                        </div>

                    </div>

                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Tên sản phẩm</label>
                            <input type="text" placeholder="Nhập tên sản phẩm" class="text_input "><span>(*)</span>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Danh mục</label>
                            <input type="text" placeholder="Nhập loại sách" class="text_input">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Tác giả</label>
                            <input type="text" placeholder="Nhập tên tác giả" class="text_input">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Đơn giá</label>
                            <input type="text" size="10" class="text_input_01"><samp>(VNđ)</samp>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Số lượng</label>
                            <input type="text" size="3" class="text_input_01">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Kích thước</label>
                            <input type="text" size="3" class="text_input_01"><samp>(cm)</samp>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Trọng lượng</label>
                            <input type="text" size="3" class="text_input_01"><samp>(kg)</samp>
                        </div>

                    </div>

                    <div class="rowsp ">
                        <div class="col col_left">
                            <label class="text_label mt">Loại bìa</label>
                            <select name="lb" class="Lbia">
                                <option value="1">Bìa cứng</option>
                                <option value="2">Bìa mềm</option>
                            </select>

                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Ngày xuất bảng</label>
                            <input type="date" placeholder="dd/mm/yy" size="10" class="text_input_01">
                        </div>

                    </div>
                    <div class="rowsp ">
                        <div class="col col_left">
                            <label class="text_label mt">Trạng thái</label>
                            <select name="lb" class="Lbia">
                                <option value="1">Còn hàng</option>
                                <option value="2">Hết hàng</option>
                            </select>

                        </div>
                    </div>
                    <div class="rowsp">
                        <div class="col ">
                            <label class="text_label mt">Hình ảnh</label>
                            <input style="display:inline-block" type="file" name="image" class="input_img">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col col_left">
                            <label class="text_label mt">Mô tả</label>
                            <textarea name="" placeholder="Tóm tắt nội dung sách" cols="70" rows="10" class="aria"></textarea>
                        </div>

                    </div>



                    <div class="kcach">
                        <input type="submit" value="Thêm sản phẩm" class="add_btn">
                        <input type="reset" value="Nhập lại" class="xoa_btn">
                        <a href="" class="DS_btn">Danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

