
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header.cshtml";
}

<body>

    <div class="page-admin">
        <div class="sidebar-admin">
            <div class="sidebar-title">DANH SÁCH CHỨC NĂNG</div>
            <a class="sidebar-item" href="#">
                <span class="fa fa-user-alt"></span>
                <span class="sidebar-item-title">Thông tin tài khoản</span>
            </a>
            <a class="sidebar-item" href="#">
                <span class="fas fa-bell"></span>
                <span class="sidebar-item-title">Thông báo của tôi</span>
            </a>
            <a class="sidebar-item" href="#">
                <span class="fa fa-address-card"></span>
                <span class="sidebar-item-title">Quản lý đơn hàng</span>
            </a>
            <a class="sidebar-item" href="#">
                <span class="fas fa-tags"></span>
                <span class="sidebar-item-title">Quản lý sản phẩm</span>
            </a>
        </div>
        <div class="content-admin">
            <div class="card-todolist">
                <h2 class="hending">Thêm sản phẩm</h2>
                <form action="" class="fromadd">
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label ">Mã sản phẩm</label>
                            <input type="text" placeholder="Nhập mã sản phẩm" class="text_input "><span>(*)</span>
                        </div>

                    </div>

                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Tên sản phẩm</label>
                            <input type="text" placeholder="Nhập tên sản phẩm" class="text_input "><span>(*)</span>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Danh mục</label>
                            <input type="text" placeholder="Nhập loại sách" class="text_input">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Tác giả</label>
                            <input type="text" placeholder="Nhập tên tác giả" class="text_input">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Đơn giá</label>
                            <input type="text" size="10" class="text_input_01"><samp>(VNđ)</samp>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Số lượng</label>
                            <input type="text" size="3" class="text_input_01">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Kích thước</label>
                            <input type="text" size="3" class="text_input_01"><samp>(cm)</samp>
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Trọng lượng</label>
                            <input type="text" size="3" class="text_input_01"><samp>(kg)</samp>
                        </div>

                    </div>

                    <div class="rowsp ">
                        <div class="col col_left">
                            <label class="text_label mt">Loại bìa</label>
                            <select name="lb" class="Lbia">
                                <option value="1">Bìa cứng</option>
                                <option value="2">Bìa mềm</option>
                            </select>

                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col">
                            <label class="text_label mt">Ngày xuất bảng</label>
                            <input type="date" placeholder="dd/mm/yy" size="10" class="text_input_01">
                        </div>

                    </div>
                    <div class="rowsp ">
                        <div class="col col_left">
                            <label class="text_label mt">Trạng thái</label>
                            <select name="lb" class="Lbia">
                                <option value="1">Còn hàng</option>
                                <option value="2">Hết hàng</option>
                            </select>

                        </div>
                    </div>
                    <div class="rowsp">
                        <div class="col ">
                            <label class="text_label mt" >Hình ảnh</label>
                            <input type="file" name="image" class="input_img" style="display:inline-block">
                        </div>

                    </div>
                    <div class="rowsp">
                        <div class="col col_left">
                            <label class="text_label mt">Mô tả</label>
                            <textarea name="" placeholder="Tóm tắt nội dung sách" cols="70" rows="10" class="aria"></textarea>
                        </div>

                    </div>



                    <div class="kcach">
                        <input type="submit" value="Thêm sản phẩm" class="add_btn">
                        <input type="reset" value="Nhập lại" class="xoa_btn" style="text-align:center">
                        <a href="" class="DS_btn">Danh sách</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

